<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leeph.smartlaps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tool.ToolDetailActivity" />
        <activity android:name=".Tool.ToolActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Drug.Warn.WarnBenzeneActivity" />
        <activity android:name=".Drug.Warn.WarnTolueneActivity" />
        <activity android:name=".Drug.Warn.WarnEthanolActivity" />
        <activity android:name=".Drug.Warn.WarnWaterActivity" />
        <activity android:name=".Drug.Warn.WarnPvaActivity" />
        <activity android:name=".Drug.DrugDetailActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".SafetyActivity" />
        <activity android:name=".Drug.DrugActivity" />
        <activity android:name=".ChemistryActivity" />
        <activity android:name=".ChemistryDetailActivity" />
        <activity android:name=".SafetyRuleActivity" />
        <activity android:name=".FlammableLiquidsActivity" />
        <activity android:name=".OxidantActivity" />
        <activity android:name=".ToxicCompoundActivity" />
        <activity android:name=".AcidAlkalineCompoundsActivity" />
        <activity android:name=".Experiment.ExperimentActivity" />
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.Pop" />
        <activity android:name=".Experiment.ExperimentSeletedClass" />
        <activity android:name=".Experiment.ExperimentDetailActivity"></activity>
    </application>

</manifest>